<footer class="bg-gray-800 py-8 px-8 font-[sans-serif] tracking-wide mt-16">
    <div class="relative">
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 pt-10">
            <div>
                <h4 class="text-xl font-semibold mb-6 text-white">About Us</h4>
                <p class="text-gray-400 text-base">
                    We are a family-run business specialising in lathes, milling
                    machines, and purchasing complete workshops with personalized
                    service.
                </p>
            </div>

            <div>
                <h4 class="text-xl font-semibold mb-6 text-white">Services</h4>
                <ul class="space-y-4">
                    <li>
                        <a
                            href="/products"
                            class="text-gray-400 hover:text-gray-300 text-base"
                        >
                            Store
                        </a>
                    </li>
                    <li>
                        <a
                            href="/services"
                            class="text-gray-400 hover:text-gray-300 text-base"
                        >
                            Services
                        </a>
                    </li>
                    <li>
                        <a
                            href="/terms-and-conditions"
                            class="text-gray-400 hover:text-gray-300 text-base"
                        >
                            Terms and Conditions
                        </a>
                    </li>
                </ul>
            </div>

            <div>
                <h4 class="text-xl font-semibold mb-6 text-white">
                    Contact Us
                </h4>
                <ul class="space-y-4">
                    <li class="text-gray-400 text-base">
                        Wakefield, West Yorkshire
                    </li>
                    <li class="text-gray-400 text-base">
                        England, United Kingdom
                    </li>
                    <li class="text-gray-400 text-base">
                        <a href="mailto:info@example.com">info@example.com</a>
                    </li>
                    <li class="text-gray-400 text-base">
                        <a
                            href="https://wa.me/447961695562"
                            rel="noopener"
                            target="_blank"
                        >
                            +44 7961 695562
                        </a>
                    </li>
                    <li>
                        <a href="https://wa.me/447961695562">
                            <img class="h-8 w-8" src="/whatsapp.svg" />
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg-gray-900 py-4 px-4 -mx-8 text-center mt-10">
        <p class="text-gray-400 text-base">
            © RAW Engineering. @DateTime.Now.Year
        </p>
    </div>
</footer>
