@page "/"
@using Microsoft.Extensions.Options
@using RawPlatform.Config
@inject IOptions<TestSettings> Settings


<PageTitle>Home</PageTitle>

<h1>@Settings.Value.TestValue</h1>

Welcome to your new app.